.order-container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 40px auto;
    gap: 40px;
    font-family: sans-serif;
    padding: 0 20px;
}

.order-box {
    padding: 16px;
    margin-bottom: 24px;
    border-bottom: 1px solid #999;
}

.order-left {
    flex: 1;
}

.order-right {
    width: 300px;
}

.item-summary {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 16px;
}

.item-image {
    width: 150px;
    height: 150px;
    background-color: #ccc;
    object-fit: cover;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 8px;
}

.item-name {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 6px;
}

.item-price {
    font-size: 16px;
}

hr {
    margin: 24px 0;
    border: none;
    border-top: 1px solid #999;
}

.payment-section label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

.payment-section select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
}

.order-label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-select {
    width: 50%;
    padding: 8px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 50px;
}

.address-section {
    margin-top: 24px;
}

.address-label {
    font-weight: bold;
    margin-bottom: 8px;
}

.address-detail {
    margin-bottom: 40px;
    line-height: 1.5;
    margin-left: 50px;
}

.order-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.address-edit-link {
    color: #1a73e8;
    font-size: 15px;
    text-decoration: none;
}

.address-edit-link:hover {
    text-decoration: underline;
}

.order-summary {
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 24px;
    padding: 0;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 35px;
    margin-bottom: 12px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    padding: 20px 16px;
    margin: 0;
}

.summary-row:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.summary-row span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
}

.purchase-button {
    width: 100%;
    background-color: #f66;
    color: #fff;
    padding: 12px 0;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

@media screen and (max-width: 850px) {
    .order-container {
        flex-direction: column;
        gap: 20px;
        padding: 0 16px;
    }

    .order-right {
        width: 100%;
    }
}
